#header{
  padding: 15px 0;
  background: #212121;
  .header{
    display: flex;
    gap: 9px;
    h1 {
      font-size: 32px;
      line-height: 36.77px;
      text-align: left;
      color: #FFFFFF;

    }
  }

}


