#information{
  padding: 30px 0;
  .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .information{
      border: 1px solid grey;
      width: 250px;
      border-radius: 5px;
      h2{
        font-size: 19px;
        font-weight: 500;
        color:  #000000;
        padding: 11px 5px;
      }
      &--heart{
        font-size: 24px;
        color: #000000;
        padding-left: 30px;
        width: 45px;
        padding-top: 10px;
      }
      &--heart__icons{
        h4{
          font-size: 13px;
          padding-top: 6px;
          color: #000000;
          display: flex;
          text-align: center;
          gap: 8px;
          font-weight: 600;
        }
        &--img{
          font-size: 18px;
          padding: 2px 5px
        }
      }
      .btn{
        padding: 5px 30px;
        background: #212121;
        border-radius: 2px;
        font-size: 14px;
        color: #FFFFFF;
        margin: 5px 9px 11px 149px;
        cursor: pointerт;
      }
    }
  }

}